<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account verification code</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <p style="font-size: 1.1rem;">Hello <b><%= user.name %></b>,</p><br>
    <p>Your OTP is : <b><%= user.otp %></b></p>
    <p>Please use this OTP to complete your verification process.</p>
    <p>If you didn't request this OTP, you can safely ignore this email.</p><br>
    <p>Thank you!</p>
</body>
</html>