<%- include('./partials/header') %>

  <%- include('./partials/nav') %>

    <div class="w-[90%] py-[20vh] flex flex-col md:py-[25vh] gap-[5vh] m-auto">
      <h1 class="bg-[#EEF7FF] md:w-[50%] w-full rounded-xl p-5 m-auto text-center text-5xl font-extrabold text-[#4D869C]">Forget Password</h1>

      <form action="/forg" class="flex flex-col items-center w-full" method="post">

        <input class="md:w-[45%] w-[90%]  border border-zinc-500 p-2 rounded-md md:text-xl md:mb-[4vh] mb-[3vh] " required type="email" placeholder="Email" name="email">

        <button class="text-center block md:w-[45%] w-[90%] m-auto hover:bg-[#4D869C] rounded text-white py-3 px-5 bg-[#7AB2B2]">Forget password</button>

      </form>
    </div>

    <%- include('./partials/footer') %>