<%- include('./partials/header') %>

<%- include('./partials/nav') %>


    <div class="w-full h-[90vh] flex flex-col justify-center items-center gap-5 bg-[#EEF7FF]">
      <h1 class="text-center md:text-8xl text-7xl font-extrabold text-[#4D869C]">Social Media</h1>
      <p class="flex gap-x-5 md:w-max w-[75%]">
        <a class="hover:bg-[#4D869C] rounded text-white py-3 px-5 text-center w-max bg-[#7AB2B2]" href="/login">Continue Surfing</a>
        <a class=" hover:bg-[#4D869C] rounded text-white py-3 px-5 text-center w-max bg-[#7AB2B2]" href="/register">Start Your Journey
          Today</a>

      </p>
    </div>


<%- include('./partials/footer') %>