<%- include('./partials/header') %>

  <%- include('./partials/nav') %>


    <div class=" rounded-xl w-[90%] py-[5vh] flex flex-col gap-[5vh] m-auto">
      <h1 class="bg-[#EEF7FF] md:w-[50%] w-full rounded-xl p-5 m-auto text-center text-5xl font-extrabold text-[#4D869C]">Register
        User
      </h1>


      <form action="/register" class="flex flex-col items-center w-full" method="post">
        <input class="md:w-[40%] w-[75%]  border border-zinc-500 p-3 rounded-md text-xl mb-[5vh] " type="text" placeholder="full name"
          name="name">
        <br>
        <input class="md:w-[40%] w-[75%]  border border-zinc-500 p-3 rounded-md text-xl mb-[5vh] " type="text" placeholder="username"
          name="username">
        <br>
        <input class="md:w-[40%] w-[75%]  border border-zinc-500 p-3 rounded-md text-xl mb-[5vh] " type="email"
          placeholder="email@servive.provider" name="email">
        <br>
        <input class="md:w-[40%] w-[75%]  border border-zinc-500 p-3 rounded-md text-xl mb-[5vh] " type="password"
          placeholder="********" name="password">

          <button class="text-center block md:w-[40%] w-[75%] m-auto hover:bg-[#4D869C] rounded text-white py-3 px-5 bg-[#7AB2B2]">Register User</button>
      </form>



      <p class="md:w-[40%] w-[75%] text-left m-auto">Already have an account? <a class="text-[#4D869C]" href="/login">login</a></p>
    
    </div>

    <%- include('./partials/footer') %>